{% extends 'layout.twig' %}
{% block title %}Article {{ article.id }}{% endblock %}
{% block content %}
    <div class="container my-5  mx-auto">
        <section class="mb-3 text-gray-800">
            <div class="flex flex-wrap justify-center mb-3">
                <div class="grow-0 shrink-0  px-3 align-center">
                    <div
                            class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                        <img src="{{ article.imageUrl }}" alt="Placeholder image" class="h-100" />
                    </div>
                    <div class="pb-5 flex">
                        <a href="/articles/edit/{{ article.id }}">
                        <button class="inline-flex items-center h-10 px-5 mx-1 text-gray-100 transition-colors duration-150 bg-gray-700 rounded-lg focus:shadow-outline hover:bg-gray-800">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                            </svg>
                            Edit
                        </button>
                        </a>
                        <form method="POST" action="/articles/delete/{{ article.id }}" class="pb-3">
                        <button onClick="return confirm('Are you sure you want to delete this article?')" type="submit"  class="inline-flex items-center h-10 px-5 text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                            Delete
                        </button>
                        </form>
                    </div>
                </div>

                <div class="grow-0 shrink-0 basis-auto w-full md:w-10/12 xl:w-10/12 px-3 align-center">
                    <h5 class="text-xl font-bold mb-3">{{ article.title|capitalize }}</h5>
                    <p class="mb-6">
                        {{ article.body | capitalize }}
                    </p>
                    <p class="text-gray-500 mb-4">
                        <small>Published <u>{{ article.createdAt }}</u> by
                            <a href="/users/{{ article.author.id }}" class="text-gray-900">{{ article.author.email }}</a></small>
                    </p>
                </div>
            </div>
        </section>
        <div class="antialiased mx-auto max-w-screen-sm">
            <div class="border border-gray-300 p-4 rounded-lg max-w-xl mx-auto my-4">
                <h2 class="text-lg font-medium mb-2">Leave a comment</h2>
                <form method="POST" action="/comment/{{ article.id }}">
                    <div class="mb-4">
                        <label class="block text-gray-700 font-medium mb-2" for="title">
                        </label>
                        <input
                                class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                                id="title" name="title" type="text" placeholder="Enter comment title" value="{{ session._flash.title }}">
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 font-medium mb-2" for="body">
                        </label>
                        <textarea rows="4"
                                  class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                                  id="body" name="body" placeholder="Enter comment">{{ session._flash.body }}</textarea>
                    </div>
                    <small class="text-red-500">{{ session._flash.errors }}</small>
                    <div class="flex justify-end">
                        {% if session.user is empty %}
                            <a href="/login"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                    type="submit">Log in to comment
                            </a>
                        {% else %}
                        <button
                                class="h-10 px-5 text-gray-100 transition-colors duration-150 bg-gray-700 rounded-lg focus:shadow-outline hover:bg-gray-800"
                                type="submit">Post
                        </button>
                        {% endif %}
                    </div>
                </form>
            </div>
            <h3 class="mb-4 text-lg font-semibold text-gray-900">Comments ({{ comments|length }})</h3>
            <div class="space-y-4">
                {% for comment in comments %}
                <div class="flex">
                    <div class="flex-shrink-0 mr-3">
                        <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="https://placehold.co/50" alt="">
                    </div>
                    <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                        <strong>{{ comment.title|capitalize }}</strong> <span class="text-xs text-gray-400"><a href="/users/{{ comment.user.id }}">{{ comment.user.email }}</a></span>
                        <p class="text-sm">
                            {{ comment.body|capitalize }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}