{% extends 'layout.twig' %}
{% block title %}Create Article{% endblock %}
{% block content %}
    <div class="py-3">
        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class=" overflow-hidden sm:rounded-lg">
                <div class="p-6 border-b border-gray-200">
                    <h1 class="text-xl font-bold mb-3"> Update Article</h1>
                    <form method="POST" action="/articles/edit/{{ article.id }}">
                        <div class="mb-4">
                            <label for="title" class="text-xl text-gray-600"> Title <span
                                        class="text-red-500">*</span></label>
                            <input type="text" name="title" id="title" class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500"
                                    {% if session._flash is empty %}
                                   value="{{ article.title }}" required
                                    {% else %}
                                   value="{{ session._flash.title }}"
                                    {% endif %}
                            >
                        </div>
                        <div class="">
                            <label for="content" class="text-xl text-gray-600">Content <span
                                        class="text-red-500">*</span></label>
                            <textarea id="content" name="body" class="appearance-none block w-full bg-white text-gray-700 border border-gray-400 shadow-inner rounded-md py-3 px-4 leading-tight focus:outline-none  focus:border-gray-500" rows="15"
                                      required>{% if session._flash is empty %}{{ article.body }}{% else %}{{ session._flash.body }}{% endif %}</textarea>
                        </div>

                        <small class="text-red-500">{{ session._flash.errors }}</small><br>

                        <div class="flex p-1 justify-end">
                            <button type="submit" class="h-10 mr-1 px-5 text-blue-100 transition-colors duration-150 bg-blue-600 rounded-lg focus:shadow-outline hover:bg-blue-700">
                                Submit Changes
                            </button>
                            <a href="/articles/{{ article.id }}">
                                <button type="submit" class="h-10 px-5 text-gray-100 transition-colors duration-150 bg-gray-700 rounded-lg focus:shadow-outline hover:bg-gray-800">
                                    Cancel
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}