{% extends 'layout.twig' %}
{% block title %}Article {{ article.id }}{% endblock %}
{% block content %}
    <div class="container my-5  mx-auto">
        <section class="mb-3 text-gray-800">
            <div class="flex flex-wrap justify-center mb-3">
                <div class="grow-0 shrink-0  px-3 align-center">
                    <div
                            class="relative overflow-hidden bg-no-repeat bg-cover relative overflow-hidden bg-no-repeat bg-cover ripple shadow-lg rounded-lg mb-6"
                            data-mdb-ripple="true" data-mdb-ripple-color="light">
                        <img src="{{ article.imageUrl }}" alt="Placeholder image" class="h-100" />
                    </div>
                    <div class="pb-5">
                        <form method="POST" action="/articles/edit/{{ article.id }}" class="pb-3">
                        <button type="submit" name="edit" value="{{ article.id }}" class="inline-flex items-center px-4 py-2 bg-indigo-500 hover:bg-indigo-600 text-white text-sm font-medium rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
                            </svg>
                            Edit
                        </button>
                        </form>
                        <form method="POST" action="/articles/delete" class="pb-3">
                        <button type="submit" name="delete" value="{{ article.id }}" class="inline-flex items-center px-4 py-2 bg-red-600 hover:bg-red-700 text-white text-sm font-medium rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                            </svg>
                            Delete
                        </button>
                        </form>
                    </div>
                </div>

                <div class="grow-0 shrink-0 basis-auto w-full md:w-10/12 xl:w-10/12 px-3 align-center">
                    <h5 class="text-xl font-bold mb-3">{{ article.title|capitalize }}</h5>
                    <p class="mb-6">
                        {{ article.body | capitalize }}
                    </p>
                    <p class="text-gray-500 mb-4">
                        <small>Published <u>{{ 'now'|date('Y') }}</u> by
                            <a href="/users/{{ article.author.id }}" class="text-gray-900">{{ article.author.name }}</a></small>
                    </p>
                </div>
            </div>
        </section>
        <div class="antialiased mx-auto max-w-screen-sm">
            <h3 class="mb-4 text-lg font-semibold text-gray-900">Comments ({{ comments|length }})</h3>
            <div class="space-y-4">
                {% for comment in comments %}
                <div class="flex">
                    <div class="flex-shrink-0 mr-3">
                        <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="https://placehold.co/50" alt="">
                    </div>
                    <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
                        <strong>{{ comment.name|capitalize }}</strong> <span class="text-xs text-gray-400">{{ comment.email }}</span>
                        <p class="text-sm">
                            {{ comment.body|capitalize }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}